<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AutoMarketBD"
			 connectionString="Server=KANNONDESKPC\SQLEXPRESS;Database=AutoMarket;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>